.actions {
    margin-top: 20px;
}

.actions > button {
    margin: 10px;
}

.success-button {
    background-color: #52c41a;
    border-color: #52c41a;
    color: #fff;
}

tr {
    cursor: pointer;
}