<div class="m100">
    <nz-tabset>
        <nz-tab nzTitle="User">
            <nz-card nzTitle="User Password Reset">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
                  <button type="submit" nz-button nzType="primary" [disabled]="!form.valid">Submit</button>
                </form>
            </nz-card>
        </nz-tab>
        <nz-tab nzTitle="Hospital">
            <nz-card nzTitle="Hospital Password Reset">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
                  <button type="submit" nz-button nzType="primary" [disabled]="!form.valid">Submit</button>
                </form>
            </nz-card>
        </nz-tab>
    </nz-tabset>
</div>